*.h5 filter=lfs diff=lfs merge=lfs -text
*.bb filter=lfs diff=lfs merge=lfs -text
predictor_tool/PolyaID_training_data.txt filter=lfs diff=lfs merge=lfs -text
predictor_tool/PolyaStrength_training_data.txt filter=lfs diff=lfs merge=lfs -text
